.download {
  color: $color-canvas;
  background-color: $color-brand-light;
  border-top: 1px solid $color-brand-dark;
  background-image: url("../images/stadium.jpg");
  background-size: cover;
}

.download__headings {
  padding-top: 10em;
  padding-bottom: 7em;
  padding-left: 8em;
  width: 48em;
  margin: 0 auto;
  background: url("../images/logo.png") no-repeat left 9em/7em,
              url("../images/slash_small.png") no-repeat 10em 9.3em/6em,
              url("../images/slash_large.png") no-repeat 28em 6em/12em;

  @include breakpoint(medium) {
    padding-top: 20em;
    padding-left: 0;
    width: 40em;
    background-position: center 10em, 2em 19.3em, 20em 16em;
  }
}

.download__heading {
  margin-top: 0;
}

.download__subheading {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  line-height: 1em;
}

.download__buttons {
  text-align: center;
  letter-spacing: 3em;
  margin-bottom: 4.5em;
}
