.footer {
  background-color: rgba($color-brand-dark, .5);

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.footer__brand {
  padding: 2em;
  float: left;

  @include breakpoint(large) {
    display: none;
  }
}

.footer__logo {
  height: 2em;
}

.footer__links {
  float: right;
  padding: 2em;

  @include breakpoint(large) {
    display: none;
  }
}

.footer__link {
  display: inline;
  padding-left: .7em;

  &:after {
    content: "|";
    padding-left: .7em;
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

.footer__socials {
  text-align: center;
  padding: 2em 0;

  @include breakpoint(medium) {
    padding: 3em 0;
  }
}

.footer__social {
  display: inline;
  padding: 0 1em;

  @include breakpoint(large) {
    padding: 0 2em;
  }

  @include breakpoint(small) {
    padding: 0 3em;
  }
}

.footer__button {
  display: inline-block;
  line-height: 2em;
}

.footer__icon {
  height: 15px;
  vertical-align: middle;
}
