a {
  text-decoration: none;
  color: inherit;
}

.hero {
  color: $color-canvas;
  background-color: $color-brand-dark;
  background: url('../images/herobkg.jpg') center/cover;
}

.hero__container {
  position: relative;
  // New z-index context
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
}

.hero__line {
  width: 100%;
}

.hero__brand {
  float: left;
}

.hero__motto {
  text-align: right;
}

.hero__headers {
  position: relative;
  flex-basis: 800px;
  width: 800px;
  min-width: 0;
  max-width: 800px;
  padding: 14em 0 0;
  margin: 0 auto;
  margin-top: auto;
}

.hero__header {
  line-height: 1em;
  margin: 0;
}

.hero__decor {
  background: url('../images/slash.png') center/contain no-repeat;
  position: absolute;
  z-index: 2;
  width: 15em;
  top: 10em;
  left: 25%;

  &:after {
    content: "";
    display: block;
    padding-top: 125%;
  }
}

.hero__header--left {
  position: relative;
  z-index: 3;
  margin-top: 0.228752814em;
  text-align: left;
}

.hero__header--right {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.228752814em;
  text-align: right;
}

.hero__navbar {
  position: relative;
  z-index: 4;
  flex-basis: 800px;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 9em;
  margin-bottom: auto;
}

.hero__buttons {
  letter-spacing: 3em;
  margin-bottom: 4.5em;
  flex-basis: 100%;
}

@media (max-width: 699px) {
  .hero__header--right {
    position: relative;
    z-index: 4;
  }

  .hero__decor {
    left: 33%;
  }
}

@media (max-width: 499px) {
  .hero__brand {
    float: none;
  }

  .hero__logo {
    margin-top: 4em;
    width: 22em;
  }

  .hero__motto {
    display: none;
  }
}

@media (orientation: landscape) and (max-height: 549px) {
  .hero__headers {
    padding-top: 3em;
  }

  .hero__decor {
    top: 1em;
  }

  .hero__navbar {
    padding-bottom: 1em;
  }
}
