.participant {
  overflow: hidden;
}

.participant__wrap {
  // establishes z-index context
  position: relative;
  z-index: 0;
  max-width: 1024px;
  margin: 0 auto;
}

.participant__image {
  position: absolute;
  display: block;
  top: -2em;
  bottom: -2em;
  right: 60%;
  width: 300px;
  background: url("../images/athlet.png") center/contain no-repeat;
  z-index: 3;

  @include breakpoint(small) {
    position: static;
    width: 100%;
    height: 200px;
    margin: 4.5em 0;
  }
}

.participant__image--mirrored {
  right: unset;
  left: 60%;
}

.participant__image--player {
  left: 50%;
  width: 350px;
  background-image: url("../images/player.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(medium) {
    left: 60%;
  }

  @include breakpoint(medium) {
    background-position: center;
  }
}

.participant__activities {
  position: relative;
  overflow: unset;
  white-space: nowrap;

  @include breakpoint(small) {
    overflow: hidden;
    padding-bottom: 28px;
  }
}

.participant__streak {
  position: relative;
  padding: 0 1em;
  counter-increment: step-counter;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    background-color: inherit;
    z-index: -1;
  }
}

.participant__header {
  color: $color-header;
  padding-left: 40%;

  @include breakpoint(small) {
    padding-left: .3276em;
  }
}

.participant__header--mirrored {
  padding-left: unset;
  padding-right: 40%;

  @include breakpoint(small) {
    padding-left: unset;
    padding-right: .3276em;
  }
}

.participant__header--sub {
  padding-top: .55em;
  margin-top: 1.25em;

  &:before {
    font-size: .8em;
    line-height: 1.2;
    vertical-align: top;
    content: "0" counter(step-counter);
    border-bottom: 2px solid $color-strip-dark;
    color: $color-strip-dark;
    margin-right: .5em;
  }

  @include breakpoint(small) {
    padding-left: 0;
    margin-top: 0;
    font-size: nth($font-sizes, 3);
  }
}

.participant__descr {
  padding-left: 40%;
  white-space: normal;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 1.5em;
  }

  @include breakpoint(small) {
    padding-left: 0;
    font-size: nth($font-sizes, 4);
  }
}

.participant__descr--mirrored {
  padding-left: unset;
  padding-right: 40%;

  @include breakpoint(small) {
    padding-right: 0;
  }
}

.participant__header--nomarg {
  margin-top: 0;
}

.participant__header--white {
  color: $color-canvas;

  &:before {
    color: $color-canvas;
    border-color: $color-canvas;
  }
}

.participant__streak--top {
  background-color: $color-canvas;
}

.participant__streak--middle {
  background-color: $color-strip-light;
}

.participant__streak--bottom {
  background-color: $color-strip-middle;
  color: $color-canvas;
}
