.slider__slide {
  @include breakpoint(small) {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    position: static;

    &:before {
      top: 0;
      bottom: 0;
      left: unset;
      right: unset;
      width: 100%;
      margin: 0 -1em;
    }
  }
}

.slider__toggles {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
  display: none;

  @include breakpoint(small) {
    display: unset;
  }
}

.slider__toggle {
  display: inline-block;
  width: 48px;
  height: 48px;

  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 19px;
    border-radius: 11px;
    border: 1px solid $color-brand-light;
    background-color: $color-canvas;
  }
}

.slider__toggle--active {

  &:before {
    background-color: $color-brand-light;
    border-color: $color-canvas;
  }
}
